{% extends 'OlixAdminBundle:Sidebar:sidebar_base.html.twig' %}


{% block olix_admin_sidebar %}
    <ul class="nav" id="olixSidebar">
        {% for item in sidebar %}
            {% if item.displayed %}{{ block('olix_admin_sidebar_item') }}{% endif %}
        {% endfor %}
    </ul>
{% endblock olix_admin_sidebar %}


{% block olix_admin_sidebar_item %}
{% spaceless %}
    <li>
    {% if item.children %}
        <a href="#{{ item.name }}">{{ block('olix_admin_sidebar_item_label') }}<span class="caret"></span></a>
        <ul class="nav collapse" id="{{ item.name }}">
            {% for item in item %}
                {% if item.displayed %}{{ block('olix_admin_sidebar_item') }}{% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <a href="{% if item.route %}{{ path(item.route) }}{% else %}#{% endif %}">{{ block('olix_admin_sidebar_item_label') }}</a>
    {% endif %}
    </li>
{% endspaceless %}
{% endblock olix_admin_sidebar_item %}


{% block olix_admin_sidebar_item_label %}
{% spaceless %}
    <i class="{{ item.icon }}"></i> <span class="text">{{ item.label }}</span>
{% endspaceless %}
{% endblock olix_admin_sidebar_item_label %}
    