{% extends 'OlixAdminBundle:Sidebar:sidebar_base.html.twig' %}


{% block olix_admin_sidebar %}
    <ul class="nav nav-pills nav-stacked">
        {% for item in sidebar %}
            {{ block('olix_admin_sidebar_item') }}
        {% endfor %}
    </ul>
{% endblock olix_admin_sidebar %}


{% block olix_admin_sidebar_item %}
{% spaceless %}
    <li>
    {% if item.children %}
        <a data-toggle="collapse" href="#{{ item.name }}">{{ block('olix_admin_sidebar_item_label') }}<span class="caret"></span></a>
        <ul class="nav nav-pills nav-stacked collapse" id="{{ item.name }}">
            {% for item in item %}
                {{ block('olix_admin_sidebar_item') }}
            {% endfor %}
        </ul>
    {% else %}
        <a href="{% if item.route %}{{ path(item.route) }}{% else %}#{% endif %}">{{ block('olix_admin_sidebar_item_label') }}</a>
    {% endif %}
        
    </li>
{% endspaceless %}
{% endblock olix_admin_sidebar_item %}


{% block olix_admin_sidebar_item_label %}
{% spaceless %}
    <i class="{{ item.icon }}"></i> {{ item.label }}
{% endspaceless %}
{% endblock olix_admin_sidebar_item_label %}
