{% extends 'OlixAdminBundle:Navbar:navbar_base.html.twig' %}


{% block olix_admin_navbar %}
    {{ block('olix_admin_navbar_header') }}
    
    {% if navbar.security is defined %}
        {{ block('olix_admin_navbar_item_security') }}
    {% endif %}
    
    {{ block('olix_admin_navbar_items') }}
{% endblock olix_admin_navbar %}


{% block olix_admin_navbar_header %}
    <div class="navbar-header">
        {{ block('olix_admin_navbar_toggle_sidebar') }}
        {{ block('olix_admin_navbar_brand') }}
        {{ block('olix_admin_navbar_desc') }}
    </div>
{% endblock olix_admin_navbar_header %}

{% block olix_admin_navbar_brand %}
    <a class="navbar-brand" href="#">{% if logo is defined %}<img alt="" src="{{ asset(logo) }}"> {% endif %}{{ brand }}</a>
{% endblock olix_admin_navbar_brand %}

{% block olix_admin_navbar_desc %}
    {% if description is defined %}
    <p class="navbar-text hidden-xs hidden-sm">{{ description }}</p>
    {% endif %}
{% endblock olix_admin_navbar_desc %}


{% block olix_admin_navbar_toggle_sidebar %}
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".olix-sidebar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
    </button>
    {% if navbar.security is defined %}
        <button type="button" class="navbar-toggle avatar" data-toggle="collapse" data-target="#olix-security">
            <img class="img-rounded avatar" src="{{ asset('bundles/olixsecurity/avatar/' ~ app.user.avatar) }}">
        </button>
    {% endif %}
{% endblock olix_admin_navbar_toggle_sidebar %}


{% block olix_admin_navbar_items %}
    <div class="navbar-collapse  collapse">
        <ul class="nav navbar-nav navbar-right">
        {% for item in navbar %}
            {% if item.name != 'security' %}
                {{ block('olix_admin_navbar_item_' ~ item.name) }}
            {% endif %}
        {% endfor %}
        </ul>
    </div>
{% endblock olix_admin_navbar_items %}


{% block olix_admin_navbar_item_security %}
    <div class="navbar-collapse navbar-right collapse" id="olix-security">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" id="toto">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img class="img-rounded avatar" src="{{ asset(app.user.avatar) }}"> {{ app.user.name }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('olix_security_profile_edit') }}"><span class="glyphicon glyphicon-user"></span> Mon profil</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off"></span> Déconnexion</a></li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock olix_admin_navbar_item_security %}
